**/csharp/test/bin/*
**/csharp/test/obj/*
**/csharp/test2/obj/*
**/csharp/test2/bin/*
**/csharp/gen/obj/*
**/csharp/gen/bin/*
*.swp
a.out
test
test3
testsp
*.o
cpp/classes/*
cpp/storedprocedures/*
cpp/headers/*
cpp/data/*
cpp/config/*
java/dbutn-app
*.class
venv/
__pycache__/
